<div id="datepicker_modal" style="display:none;">
    <div id="date_picker_container">
        <div id="datepicker_start_cal" class="datepicker_cal" data-date="{{ start_str }}">
            <div class="calendar_title">Start Date</div>
        </div>
        <input type="hidden" id="datepicker_start" name="start" >
        
        <div id="datepicker_end_cal" class="datepicker_cal" data-date="{{ end_str }}">
            <div class="calendar_title">End Date</div>
        </div>
        <input type="hidden" id="datepicker_end" name="end" >
    </div>
    <div class="datepicker_modal__buttons">
        <button onclick="pickDates()" class="btn btn-outline-secondary btn-md">Apply</button>
        <button id="cancelButton" class="btn btn-outline-secondary btn-md">Cancel</button>
    </div>
</div>
<script src="/source_optics/static/vendor/bootstrap-datepicker.min.js"></script>
<script src="/source_optics/static/datepicker.js"></script>

<link rel="stylesheet" type="text/css" href="/source_optics/static/vendor/bootstrap-datepicker3.min.css">
<link rel="stylesheet" type="text/css" href="/source_optics/static/datepicker.css">
